Hi <% @user.firstname %>,

Thank you for registering with Pennvovlement! To finish creating your account please click the following link:

</a href="<%=@url%>">Confirm your Account</a>
Link: <%=@url%>

Thanks!
Penn Labs
