<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


times in msec
 clock   self+sourced   self:  sourced script
 clock   elapsed:              other lines

000.010  000.010: --- VIM STARTING ---
000.160  000.150: Allocated generic buffers
000.250  000.090: locale set
000.276  000.026: GUI prepared
000.280  000.004: clipboard setup
000.291  000.011: window checked
001.023  000.732: inits 1
001.036  000.013: parsing arguments
001.039  000.003: expanding arguments
001.063  000.024: shell init
001.413  000.350: Termcap init
001.476  000.063: inits 2
001.655  000.179: init highlight
002.173  000.342  000.342: sourcing /usr/share/vim/vim74/debian.vim
002.794  000.335  000.335: sourcing /usr/share/vim/vim74/syntax/syncolor.vim
003.006  000.640  000.305: sourcing /usr/share/vim/vim74/syntax/synload.vim
049.546  046.451  046.451: sourcing /usr/share/vim/vim74/filetype.vim
049.657  047.387  000.296: sourcing /usr/share/vim/vim74/syntax/syntax.vim
049.709  047.975  000.246: sourcing $VIM/vimrc
051.344  001.417  001.417: sourcing /usr/share/vim/vim74/ftoff.vim
052.721  000.499  000.499: sourcing /home/adamdom/.vim/bundle/Vundle.vim/autoload/vundle.vim
053.223  000.318  000.318: sourcing /home/adamdom/.vim/bundle/Vundle.vim/autoload/vundle/config.vim
099.772  000.197  000.197: sourcing /home/adamdom/.vim/bundle/vim-jade/ftdetect/jade.vim
100.116  000.172  000.172: sourcing /home/adamdom/.vim/bundle/vim-less/ftdetect/less.vim
100.820  000.585  000.585: sourcing /home/adamdom/.vim/bundle/vim-mustache-handlebars/ftdetect/mustache.vim
101.312  044.564  043.610: sourcing /usr/share/vim/vim74/filetype.vim
101.716  000.096  000.096: sourcing /usr/share/vim/vim74/ftplugin.vim
102.022  000.066  000.066: sourcing /usr/share/vim/vim74/indent.vim
102.905  000.631  000.631: sourcing /usr/share/vim/vim74/syntax/nosyntax.vim
103.544  000.255  000.255: sourcing /usr/share/vim/vim74/syntax/syncolor.vim
103.820  000.703  000.448: sourcing /usr/share/vim/vim74/syntax/synload.vim
103.880  001.675  000.341: sourcing /usr/share/vim/vim74/syntax/syntax.vim
104.075  000.021  000.021: sourcing /usr/share/vim/vim74/filetype.vim
104.314  000.018  000.018: sourcing /usr/share/vim/vim74/ftplugin.vim
104.546  000.017  000.017: sourcing /usr/share/vim/vim74/indent.vim
105.268  000.301  000.301: sourcing /usr/share/vim/vim74/syntax/syncolor.vim
106.215  000.305  000.305: sourcing /usr/share/vim/vim74/syntax/syncolor.vim
106.876  000.297  000.297: sourcing /usr/share/vim/vim74/syntax/syncolor.vim
183.218  077.750  077.148: sourcing /home/adamdom/.vim/bundle/vim-colorschemes/colors/Tomorrow-Night.vim
184.376  000.669  000.669: sourcing /home/adamdom/.vim/autoload/pathogen.vim
195.455  001.453  001.453: sourcing /usr/share/vim/vim74/ftoff.vim
236.064  000.696  000.696: sourcing /home/adamdom/.vim/bundle/vim-coffee-script/ftdetect/coffee.vim
236.401  000.169  000.169: sourcing /home/adamdom/.vim/bundle/vim-jade/ftdetect/jade.vim
236.708  000.185  000.185: sourcing /home/adamdom/.vim/bundle/vim-less/ftdetect/less.vim
237.475  000.647  000.647: sourcing /home/adamdom/.vim/bundle/vim-mustache-handlebars/ftdetect/mustache.vim
238.137  041.774  040.077: sourcing /usr/share/vim/vim74/filetype.vim
239.105  000.582  000.582: sourcing /usr/share/vim/vim74/syntax/nosyntax.vim
240.553  000.448  000.448: sourcing /usr/share/vim/vim74/syntax/syncolor.vim
241.534  000.400  000.400: sourcing /usr/share/vim/vim74/syntax/syncolor.vim
317.151  077.613  076.765: sourcing /home/adamdom/.vim/bundle/vim-colorschemes/colors/Tomorrow-Night.vim
317.363  078.009  000.396: sourcing /usr/share/vim/vim74/syntax/synload.vim
317.426  078.970  000.379: sourcing /usr/share/vim/vim74/syntax/syntax.vim
317.699  000.025  000.025: sourcing /usr/share/vim/vim74/filetype.vim
317.998  000.018  000.018: sourcing /usr/share/vim/vim74/ftplugin.vim
318.280  000.017  000.017: sourcing /usr/share/vim/vim74/indent.vim
318.397  268.612  018.944: sourcing $HOME/.vimrc
318.407  000.165: sourcing vimrc file(s)
319.232  000.367  000.367: sourcing /home/adamdom/.vim/bundle/ctrlp.vim/autoload/ctrlp/mrufiles.vim
319.699  001.138  000.771: sourcing /home/adamdom/.vim/bundle/ctrlp.vim/plugin/ctrlp.vim
339.021  008.621  008.621: sourcing /home/adamdom/.vim/bundle/nerdcommenter/plugin/NERD_commenter.vim
340.331  000.331  000.331: sourcing /home/adamdom/.vim/bundle/nerdtree/autoload/nerdtree.vim
342.619  000.934  000.934: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/path.vim
342.957  000.212  000.212: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/menu_controller.vim
343.199  000.135  000.135: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/menu_item.vim
343.478  000.176  000.176: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/key_map.vim
343.938  000.357  000.357: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/bookmark.vim
344.463  000.412  000.412: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/tree_file_node.vim
345.291  000.717  000.717: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/tree_dir_node.vim
345.809  000.408  000.408: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/opener.vim
346.357  000.431  000.431: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/creator.vim
346.548  000.086  000.086: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/flag_set.vim
346.882  000.231  000.231: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/nerdtree.vim
347.606  000.623  000.623: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/ui.vim
347.772  000.045  000.045: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/event.vim
348.032  000.083  000.083: sourcing /home/adamdom/.vim/bundle/nerdtree/lib/nerdtree/notifier.vim
348.939  000.780  000.780: sourcing /home/adamdom/.vim/bundle/nerdtree/autoload/nerdtree/ui_glue.vim
374.784  000.180  000.180: sourcing /home/adamdom/.vim/bundle/nerdtree/nerdtree_plugin/exec_menuitem.vim
375.618  000.779  000.779: sourcing /home/adamdom/.vim/bundle/nerdtree/nerdtree_plugin/fs_menu.vim
376.180  036.949  030.029: sourcing /home/adamdom/.vim/bundle/nerdtree/plugin/NERD_tree.vim
378.226  001.921  001.921: sourcing /home/adamdom/.vim/bundle/supertab/plugin/supertab.vim
378.720  000.034  000.034: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/autoloclist.vim
378.787  000.021  000.021: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/balloons.vim
378.852  000.027  000.027: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/checker.vim
378.911  000.020  000.020: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/cursor.vim
378.970  000.020  000.020: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/highlighting.vim
379.028  000.020  000.020: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/loclist.vim
379.085  000.020  000.020: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/modemap.vim
379.141  000.019  000.019: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/notifiers.vim
379.200  000.018  000.018: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/registry.vim
379.256  000.019  000.019: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/signs.vim
379.814  000.346  000.346: sourcing /home/adamdom/.vim/bundle/syntastic/autoload/syntastic/log.vim
380.811  000.763  000.763: sourcing /home/adamdom/.vim/bundle/syntastic/autoload/syntastic/util.vim
393.704  000.170  000.170: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/autoloclist.vim
393.967  000.130  000.130: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/balloons.vim
394.362  000.348  000.348: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/checker.vim
394.603  000.195  000.195: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/cursor.vim
394.821  000.174  000.174: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/highlighting.vim
395.471  000.605  000.605: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/loclist.vim
395.967  000.439  000.439: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/modemap.vim
396.252  000.228  000.228: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/notifiers.vim
397.271  000.928  000.928: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/registry.vim
397.830  000.507  000.507: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic/signs.vim
402.331  023.038  018.205: sourcing /home/adamdom/.vim/bundle/syntastic/plugin/syntastic.vim
403.966  001.374  001.374: sourcing /home/adamdom/.vim/bundle/tabular/plugin/Tabular.vim
416.106  011.817  011.817: sourcing /home/adamdom/.vim/bundle/vim-fugitive/plugin/fugitive.vim
416.711  000.157  000.157: sourcing /usr/share/vim/vim74/plugin/getscriptPlugin.vim
417.297  000.537  000.537: sourcing /usr/share/vim/vim74/plugin/gzip.vim
417.761  000.394  000.394: sourcing /usr/share/vim/vim74/plugin/matchparen.vim
418.872  001.052  001.052: sourcing /usr/share/vim/vim74/plugin/netrwPlugin.vim
419.062  000.087  000.087: sourcing /usr/share/vim/vim74/plugin/rrhelper.vim
419.187  000.063  000.063: sourcing /usr/share/vim/vim74/plugin/spellfile.vim
419.687  000.440  000.440: sourcing /usr/share/vim/vim74/plugin/tarPlugin.vim
419.963  000.189  000.189: sourcing /usr/share/vim/vim74/plugin/tohtml.vim
420.319  000.283  000.283: sourcing /usr/share/vim/vim74/plugin/vimballPlugin.vim
420.860  000.462  000.462: sourcing /usr/share/vim/vim74/plugin/zipPlugin.vim
422.063  000.572  000.572: sourcing /home/adamdom/.vim/bundle/tabular/autoload/tabular.vim
425.558  004.416  003.844: sourcing /home/adamdom/.vim/bundle/tabular/after/plugin/TabularMaps.vim
425.778  014.215: loading plugins
426.863  001.085: inits 3
427.345  000.482: reading viminfo
431.049  003.704: setup clipboard
431.076  000.027: setting raw mode
431.110  000.034: start termcap
431.191  000.081: clearing screen
432.126  000.935: opening buffers
433.696  001.570: BufEnter autocommands
433.706  000.010: editing files in windows
436.841  003.135: VimEnter autocommands
436.857  000.016: before starting main loop
438.681  001.824: first screen update
438.688  000.007: --- VIM STARTED ---
