<p id="notice"><%= notice %></p>
<h1> Welcome to <%= current_user %>'s profile </h1>
<p> Nothing to see here either. </p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
