<center><h1>Frequently Asked Questions</h1></center>
<div class="whiteBox col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <% faqs().each do |n, q, a| %>
        <div class="cursorToHand" data-toggle="collapse" data-target=<%="#" + n.to_s %>><h3><i class="fa fa-plus-circle" aria-hidden="true"></i><%= " " + q %></h3></div>
    <div id=<%= n.to_s %> class="collapse">
        <br>
        <div class="faqText"> <%= a %> </div>
    </div>
    <br>
<% end %>
