<!DOCTYPE html>
<html>
<head>
    <title> About </title>
</head>
<body>
  <p>
  Still have some work to do before it's done.  <br>
  Things left to do: <br>
  - Finish search <br>
  - figure out how to do search <br>
  - figure out how to display the searches  <br>
  - ajax for search? <br>
  - how to display multiple page results for searches <br>
  </p>
