<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<% if logged_in? %>
  <h2 style="color:black"> <%= current_user.username %>'s Dashboard </h2>
  <%= render :partial => 'users/dash' %>
<% else %>
  <h1> Welcome to Penn Civic Service! </h1>
  <p>
    Created by Joseph Gao and Adam Domingoes. Design by Tiffany Chang (is that her last name idk). 
  </p>
  <center>
  <h2> Log in </h2>
  <%= render :partial => 'sessions/new' %>
  <p> Don't have an account? <a href='/users/new'> Sign up! </a>
</center>
<% end %>

