<table>
<tr><td>_______Name_______</td><td>______Org Name_____</td></tr>
<% User.all.each do |u| %>
  <tr><td><%= u.firstname + " " + u.lastname  %></td><td><%="| " +  u.org_name %></td></tr>
<% end %>
<script>$('footer').remove()</script>
