/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'AvenirLTStd-Book';
    src: asset_url('AvenirLTStd-Book.eot');
    src: asset_url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
    asset_url('AvenirLTStd-Book.woff') format('woff'),
    asset_url('AvenirLTStd-Book.ttf') format('truetype'),
    asset_url('AvenirLTStd-Book.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab-500';
    src: asset_url('MuseoSlab-500.eot');
    src: asset_url('MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
    asset_url('MuseoSlab-500.woff') format('woff'),
    asset_url('MuseoSlab-500.ttf') format('truetype'),
    asset_url('MuseoSlab-500.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
    font-family: 'MuseoSlab-500';
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#mainnav {
    background: #FFFFFF;
    font: 1.3em;
    color: black;
    font-weight: bold;
    border-bottom: 5px solid #D1D1D0;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'AvenirLTStd-Book';
}
#body {
    height: 100%;
    font-family: 'AvenirLTStd-Book';
    background-color: #e6e6e6;
}
html {
    height: 100%;
}

input:focus {
    border: 1px solid rgb(22,160,133);
    box-shadow: 0 0 5px rgb(22,160,133);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.focused {
    border: 1px solid rgb(22,160,133);
    box-shadow: 0 0 5px rgb(22,160,133);
    outline: none !important;
    border-left: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.not-focused {
  outline: none !important;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.center-text {
    text-align: center;
}
.paddSpan {
    padding-right: 4.6%;
    padding-left: 4.6%;
}

.icons {
    padding-bottom: 10px;
    max-height: 130px;
    max-width: 130px;
}
#tfheader{
    background-color:#c3dfef;
}
#tfnewsearch{
    float: right;
    padding-top: 11px;
}
#tftextinput{
  height: 34px;
  width: 200px;
  border: 1px #B3B3B3 solid !important;
  border-radius: 10px 0 0 10px !important;
  margin: 0;
  padding: 5px 15px !important;
  font-size:14px;
}
#navbar-style {
  background: #FFF;
  margin-bottom:
  0px; height: 60px;
}
#search-btn {
  border-radius: 0 10px 10px 0;
  border: 1px #B3B3B3 solid !important;
  border-left: none;
}
#labs-logo {
  height: 35px;
  width: auto;
  margin-right: 15px;
  margin-left: 5px;
  padding-bottom: 2px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom-right-radius: 5px 5px;

    margin-left: -40px;
    border-top: 1px rgb(221,221,221) solid;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px rgb(221,221,221) solid;
    border-right: 1px rgb(221,221,221) solid;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}
.right {
    text-align: right;
}
input {
    text-align: left;
}
a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0);
}
div#backd input[type="text"]{
    color: black;
}
div#backd input[type="password"]{
    color: black;
}
div#backd input[type="email"]{
    color: black;
}
div#backd input[type="submit"]{
    color: white;
}
.fullHeight {
    margin-left: 20px;
}
#searchPanel {
    background: white;
    overflow-y: scroll;
    max-height: 80vh;
    padding-top: 10px;
    margin-left: 55px;
    border-radius: 8px;
    border: 1px solid #cccccc;
}
.searchIcons {
    padding-left: 0%;
}
.spaceOut {
	padding-bottom: 10px;
}
.opp_icons {
    height: 100%;
    max-height: 35px;
    width: auto;
    max-width: 35px;
}
.white {
    color: white;
}
.contact_form {
    color: #FFFFFF;
    margin-top: -47px;
}
.bigCardTitle {
    padding-top: 5px;
}
div.bigCardTitle a{
    color: #ff471a;
    font-size: 17pt;
    /*padding-left: 7px;*/
    font-family: 'MuseoSlab-500';
}
.orgName {
    color: #009933;
}
.deadlineBox {
    border-radius: 5px;
    border: 2px solid #009933;
    color: #009933;
    font-size: 14pt;
    text-align: center;
    min-width: 54px;
}
.tinyText {
    font-size: 7pt;
}
.bigCard {
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px #cccccc solid;
    color: black;
    width: 100%;
    padding-left: 0px;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.calendar {
    width: 68px;
    height: 68px;
    margin-bottom: 7px;
    margin-left: 7px;
}
.calNum {
    position: absolute;
    z-index: 9;
    color: black;
    font-size: 30pt;
    margin-left: -55px;
    margin-top: 18px;
}
.calMonth {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 8pt;
    margin-left: -43px;
    margin-top: 6px;
}
.locationPin {
    width: 35px;
    margin-top: 10px;
}
.tinyIcons {
    margin-top: 27px;
    width: 35px;
    height: 35px;
}
.rightAlign {
    text-align: right;
}
.toTop {
    margin-top: -20px;
}
.black {
    color: black;
}
.tinyIconsTwo {
    margin-top: 5px;
    width: 35px;
    height: 35px;
}
.calWords {
    color: #bfbfbf;
    text-align: left;
    margin-left: -20px;
    padding-left: 0px;
}
.mainCard {
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px black solid;
    color: black;
    width: 90%;
    padding-left: 0px;
    overflow-x: hidden;
}
.orgText {
    font-size: 9pt;
    margin-left: -50px;
    margin-top: 7%;
}
.phoneIcon {
    color: #006600;
    font-size: 37pt;
}
.red {
    color: red;
}
.nowrap {
    padding-left: 20px;
    text-align: left;
}
.green {
    color: #00cc00;
    padding-left: 20px;
}
.whiteBox {
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px rgb(221,221,221) black;
    border-bottom: 4px solid rgb(221,221,221);
    border-right: 4px solid rgb(221,221,221);
    padding: 5px;
    margin-bottom: 15px;
}
.cursorToHand{
    cursor: pointer;
    color: #F24901;
}
.greenQuestion {
    color: #FFFFFF;
}
.faqli {
    margin-bottom: 8px;
    color: #FFFFFF;
}
.faqLinks {
    font-size: 16pt;
    color: #FFFFFF;
}
.faqLinks:visited {
    color: #FFFFFF;
    font-size: 16pt;
}
.faqLinks:link {
    color: #FFFFFF;
    font-size: 16pt;
}
.filler {
    height: 30%;
}
.leftAlign {
    text-align: left;
}
.faqText {
    font-size: 14pt;

}
#nav-icon {
    margin-top: -3px;
    height: 25px;
}
input[type="submit"] {
    text-align: center;
}
.vertCenter {
    padding-top: 9px;
}
.bigCardText {
    padding-bottom: 15px;
}

/*----Scrollbar------*/
::-webkit-scrollbar{
  width: 10px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
  margin-top:8px;
}
::-webkit-scrollbar-track {  /*the path it moves on */
  background: rgb(240, 240, 240);
  border-radius:8px;
}
::-webkit-scrollbar-thumb { /*the part that moves*/
    background: rgb(210,210,210);
    border-radius: 10px;
}
::-webkit-scrollbar-button{  /*the top and bottom part */
  /*height:5px;*/
}

/* Homepage CSS */

#leftPanel {
    float: left;
    width: 50%;
    min-height: 490px;
    height: 70vh;
    background-color: #1ABC9C;
    text-align: center
}
#panelText {
    padding-top: 100px;
    font-size: 26pt;
    color: #FFFFFF;
    line-height: 100%
}
#rightPanel {
    float: right;
    width: 50%;
    min-height: 490px;
    height: 70vh;
    background-color: #16A085;
    padding-top: 1vh
}
#rightPanelForm {
    z-index: 5;
    margin-top: 35px;
    text-align: right
}
#signUpText {
    color: white;
    font-size: 18pt;
    padding-top: 70px;
}
#signUpButtonGroup {
    width: 300px;
    margin-bottom: 15px;
}
#loginButton {
    min-width: 100px;
    color: white
}
#socialText {
    margin-top: 23vh
}
#fbBtnLink {
    font-size: 32pt;
    color: #3b5998;
    text-decoration: underline
}
.socialBtn {
    background-color: white;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border-radius: 40px;
    line-height: 85px
}
#twtrBtnLink {
    font-size: 32pt;
    color: #00aced;
    text-decoration: underline
}
#gPlusBtnLink {
    font-size: 32pt;
    color: #d34836;
    text-decoration: underline
}
#categories {
    display: inline-block;
    width: 100%;
    min-height: 300px;
    background-color: #FFFFFF;
    height: 36vh;
}
#categoryText {
    padding-left: 30px;
    padding-top: 15px;
    color: #F24901;
    font-size: 14pt
}
#categoryBtns {
    width: 100%;
    padding-top: 5px
}
#categoryBtns center {
    font-size: 16px;
    margin-top: 4px;
}
.textCenter {
    text-align: center
}
#footer {
  height: 58px;
  text-align: center;
  padding-top: 19px;
}

@media(max-width: 1076px) {
    #tfnewsearch {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar-nav>li {
        padding-top: 5px;
    }
}
