/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

#mainnav {
    background: #FFFFFF;
    font: 1.3em;
    color: black;
    font-weight: bold;
    border-bottom: 5px solid #D1D1D0;
}
#body{
    height: 100%;
    background-color: #D1D1D0;
}
html {
    height: 100%;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center-text {
    text-align: center;
}
.paddSpan {
    padding-right: 4.6%;
    padding-left: 4.6%;
}

.icons {
    width: 10%;
    height: 10%;
    padding-bottom: 10px;
}
#tfheader{
    background-color:#c3dfef;
}
#tfnewsearch{
    float:right;
}
.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}
.right {
    text-align: right;
}
input {
    text-align: left;
}
a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0);
}
div#backd input[type="text"]{
    color: black;
}
div#backd input[type="password"]{
    color: black;
}
div#backd input[type="email"]{
    color: black;
}
div#backd input[type="submit"]{
    color: white;
}


.fullHeight {
    margin-left: 20px;
}
#searchPanel{
    background: white;
    overflow-y: scroll;
    max-height: 575px;
    padding-top: 20px;
    margin-left: 55px;
    border-radius: 8px;
    border: 1px solid #000;
}
.searchIcons {
    padding-left: 60%;
}
.opp_icons {
    height: 100%;
    max-height: 35px;
    width: auto;
    max-width: 35px;
}
.white {
    color: white;
}
.contact_form {
    background: #FFF;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    color: #696969;

}
div.bigCardTitle a{
    color: #ff471a;
    font-size: 17pt;
    padding-left: 7px;
}
.orgName {
    color: #009933;
}
.deadlineBox {
    border-radius: 5px;
    border: 2px solid #009933;
    color: #009933;
    font-size: 14pt;
    text-align: center;
    min-width: 54px;
}
.tinyText {
    font-size: 7pt;
}
.bigCard {
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px black solid;
    color: black;
    width: 90%;
    padding-left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
.calendar {
    width: 68px;
    height: 68px;
    margin-bottom: 7px;
    margin-left: 7px;
}
.calNum {
    position: absolute;
    z-index: 9;
    color: black;
    font-size: 30pt;
    margin-left: -55px;
    margin-top: 18px;
}
.calMonth {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 8pt;
    margin-left: -43px;
    margin-top: 6px;
}
.locationPin {
    width: 35px;
    height: 45px;
    margin-top: 20px;
}
.tinyIcons {
    margin-top: 27px;
    width: 35px;
    height: 35px;
}
.rightAlign {
    text-align: right;
}
.toTop{
    margin-top: -30px;
}
.black {
    color: black;
}
.tinyIconsTwo {
    margin-top: 5px;
    width: 35px;
    height: 35px;
}
.calWords {
    color: #bfbfbf;
    text-align: left;
    margin-left: -20px;
    padding-left: 0px;
}
.mainCard {
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px black solid;
    color: black;
    width: 90%;
    padding-left: 0px;
    overflow-x: hidden;
}
.orgText {
    font-size: 9pt;
    margin-left: -50px;
    margin-top: 7%;
}
.phoneIcon {
    color: #006600;
    font-size: 37pt;
}
