/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'AvenirLTStd-Book';
    src: asset_url('AvenirLTStd-Book.eot');
    src: asset_url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
    asset_url('AvenirLTStd-Book.woff') format('woff'),
    asset_url('AvenirLTStd-Book.ttf') format('truetype'),
    asset_url('AvenirLTStd-Book.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab-500';
    src: asset_url('MuseoSlab-500.eot');
    src: asset_url('MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
    asset_url('MuseoSlab-500.woff') format('woff'),
    asset_url('MuseoSlab-500.ttf') format('truetype'),
    asset_url('MuseoSlab-500.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
    font-family: 'MuseoSlab-500';
}

#mainnav {
    background: #FFFFFF;
    font: 1.3em;
    color: black;
    font-weight: bold;
    border-bottom: 5px solid #D1D1D0;
}
#body {
    height: 100%;
    font-family: 'AvenirLTStd-Book';
    background-color: #e6e6e6;
}
html {
    height: 100%;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center-text {
    text-align: center;
}
.paddSpan {
    padding-right: 4.6%;
    padding-left: 4.6%;
}

.icons {
    width: 90%;
    height: auto;
    padding-bottom: 10px;
    max-height: 130px;
    max-width: 130px;
}
#tfheader{
    background-color:#c3dfef;
}
#tfnewsearch{
    float:right;
}
.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}
.right {
    text-align: right;
}
input {
    text-align: left;
}
a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0);
}
div#backd input[type="text"]{
    color: black;
}
div#backd input[type="password"]{
    color: black;
}
div#backd input[type="email"]{
    color: black;
}
div#backd input[type="submit"]{
    color: white;
}
.fullHeight {
    margin-left: 20px;
}
.row{
    max-width: 90vw;
}
#searchPanel{
    background: white;
    overflow-y: scroll;
    max-height: 80vh;
    padding-top: 10px;
    margin-left: 55px;
    border-radius: 8px;
    border: 1px solid #cccccc;
}
.searchIcons {
    padding-left: 0%;
}
.spaceOut {
	padding-bottom: 10px;
}
.opp_icons {
    height: 100%;
    max-height: 35px;
    width: auto;
    max-width: 35px;
}
.white {
    color: white;
}
.contact_form {
    color: #FFFFFF;
    margin-top: -47px;
}
.bigCardTitle {
    padding-top: 5px;
}
div.bigCardTitle a{
    color: #ff471a;
    font-size: 17pt;
    padding-left: 7px;
    font-family: 'MuseoSlab-500';
}
.orgName {
    color: #009933;
}
.deadlineBox {
    border-radius: 5px;
    border: 2px solid #009933;
    color: #009933;
    font-size: 14pt;
    text-align: center;
    min-width: 54px;
}
.tinyText {
    font-size: 7pt;
}
.bigCard {
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px #cccccc solid;
    color: black;
    width: 100%;
    padding-left: 0px;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.calendar {
    width: 68px;
    height: 68px;
    margin-bottom: 7px;
    margin-left: 7px;
}
.calNum {
    position: absolute;
    z-index: 9;
    color: black;
    font-size: 30pt;
    margin-left: -55px;
    margin-top: 18px;
}
.calMonth {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 8pt;
    margin-left: -43px;
    margin-top: 6px;
}
.locationPin {
    width: 35px;
    margin-top: 10px;
}
.tinyIcons {
    margin-top: 27px;
    width: 35px;
    height: 35px;
}
.rightAlign {
    text-align: right;
}
.toTop{
    margin-top: -20px;
    margin-left:60px;
    margin-bottom: -10px;
}
.black {
    color: black;
}
.tinyIconsTwo {
    margin-top: 5px;
    width: 35px;
    height: 35px;
}
.calWords {
    color: #bfbfbf;
    text-align: left;
    margin-left: -20px;
    padding-left: 0px;
}
.mainCard {
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px black solid;
    color: black;
    width: 90%;
    padding-left: 0px;
    overflow-x: hidden;
}
.orgText {
    font-size: 9pt;
    margin-left: -50px;
    margin-top: 7%;
}
.phoneIcon {
    color: #006600;
    font-size: 37pt;
}
.red {
    color: red;
}
.nowrap {
    padding-left: 20px;
    text-align: left;
}
.green {
    color: #00cc00;
    padding-left: 20px;
}
.whiteBox {
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px rgb(221,221,221) black;
    border-bottom: 4px solid rgb(221,221,221);
    border-right: 4px solid rgb(221,221,221);
    padding: 5px;
    margin-bottom: 15px;
}
.cursorToHand{
    cursor: pointer;
    color: #F24901;
}
.greenQuestion {
    color: #FFFFFF;
}
.faqli {
    margin-bottom: 8px;
    color: #FFFFFF;
}
.faqLinks {
    font-size: 16pt;
    color: #FFFFFF;
}
.faqLinks:visited {
    color: #FFFFFF;
    font-size: 16pt;
}
.faqLinks:link {
    color: #FFFFFF;
    font-size: 16pt;
}
.filler {
    height: 30%;
}
.leftAlign {
    text-align: left;
}
.faqText {
    font-size: 14pt;

}
.navIcon {
    margin-top: -3px;
    height: 25px;
}
input[type="submit"] {
    text-align: center;
}
.vertCenter {
    padding-top: 9px;
}
.bigCardText {
    padding-bottom: 15px;
}

/*----Scrollbar------*/
::-webkit-scrollbar{
  width: 10px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
  margin-top:8px;
}
::-webkit-scrollbar-track {  /*the path it moves on */
  background: rgb(240, 240, 240);
  border-radius:8px;
}
::-webkit-scrollbar-thumb { /*the part that moves*/
    background: rgb(210,210,210);
    border-radius: 10px;
}
::-webkit-scrollbar-button{  /*the top and bottom part */
  /*height:5px;*/
}
