/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#mainnav {
    background: #FFFFFF;
    font: 1.3em;
    color: black;
    font-weight: bold;
    border-bottom: 5px solid #D1D1D0;
}
#body{
    height: 100%;
    background-color: #D1D1D0;
}
html {
    height: 100%;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.paddSpan {
    padding-right: 4.6%;
    padding-left: 4.6%;
}

.icons {
    width: 10%;
    height: 10%;
    padding-bottom: 10px;
}
#tfheader{
    background-color:#c3dfef;
}
#tfnewsearch{
    float:right;
}
.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}
.right {
    text-align: right;
}
input {
    text-align: left;
}
