// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="text"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
input[type="password"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
#backdrop{
    background-color: #00916A;
    border-radius: 9px;
    border-right: solid 4px #191C2F;
    border-bottom: solid 4px #191C2F;
}
#newSubmit {
    background: #F24901;
    border: 1px solid #F24901;
    color: white;
    width: 40%;
    border-radius: 20px;
}
input[type="email"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
label {
    color: white;
}
h3 {
    color: white;
}

