// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
input[type="password"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
