// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="text"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
input[type="password"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
input[type="checkbox"] {
    background: #E9E9E9;
    height: 16px;
    width: 16px;
}
#backdrop{
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 9px;
    border-right: solid 4px #191C2F;
    border-bottom: solid 4px #191C2F;
}
#backdropEvents{
    margin-top: 10px;
    min-height: 565px;
    background-color: #FFFFFF;
    border-radius: 9px;
    border-right: solid 4px #191C2F;
    border-bottom: solid 4px #191C2F;
    overflow-y: scroll;
}
#backd{
    margin-top: 20px;
    background-color: #00916A;
    border-radius: 9px;
    border-right: solid 4px #191C2F;
    border-bottom: solid 4px #191C2F;
    color: white;
}
div#backd label {
    color: white;
}

#newSubmit {
    background: #F24901;
    border: 1px solid #F24901;
    color: white;
    width: 40%;
    border-radius: 20px;
}
input[type="email"] {
    height: 27px;
    margin-bottom: 15px;
    border-radius: 8px;
}
label {
    color: black;
}
h3 {
    color: white;
}

div#backdrop input {
    border: solid #5988D8 1px;
}
div.desc input {
    height: 200px;
    width: 100%;
}
div.desc label {
    text-align: left;
}
div.desc input {
    vertical-align: top;
    padding-top: 0px;
    word-wrap: break-word;
    overflow-y: scroll;
}
div#backdrop input[type="text"] {
    width: 100%;
}
div#backdrop input[type="submit"] {
    min-width: 100px;
}
.card {
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px black solid;
    color: black;
    height: 150px;
    width: 90%;
    padding-left: 0px;
}
.cardTitle {
    font-size: 10pt;
    border-radius: 5px 5px 0px 0px;
    padding-left: 3px;
    left: 0px;
    width:100%;
    height: 20px;
    background: #EC2727;
    color: white;
    overflow: hidden;
    text-align: left;
}
.cardElem {
    font-size: 12pt;
    text-align: left;
}
div.cardDesc p{
    font-size: 9pt;
    overflow: hidden;
}
.cardRest{
    margin-top: 3px;
    height: 86%;
    overflow: hidden;
}
.cardCal {
    text-align: center;
    margin-top: 12px;
    margin-left: 8px;
    padding: 0px;
    border-radius: 10px;
    background: #EBE9E9;
    color: black;
    font-size: 30pt;
    height: 65%;
    width: 65%;
    max-width: 100px;
}
.cardCalMonth {
    text-align: center;
    font-size: 9pt;
    color: white;
    background: black;
    border-radius: 5px 5px 0px 0px;
    height: 15px;
    width: 100%;
}
