@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
#vertical {
    @include vertical-align
}

form {
    text-size: 12 pt;
}
input {
    border-radius: 6px;
    padding: 4px;
}
.formStyle {
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 0px;
}
input [type="submit"] {
    border: 1px solid #F24901;
    color: white;
    width: 20%;
    border-radius: 0px;
    text-align: center;
}
body{
    background-color: #FFFFFF;
}
.logoLogin {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    padding-top: 22px;
}
.formStyle input[type="text"], .formStyle input[type="password"] {
    border: 1px #16A085 solid;
}

// Positioning for homepage images
.parent-bottom {
    position: relative;
}

.child-bottom {
    position: absolute;
    bottom: 0;
}

.child-bottom-center {
    margin: 0 auto;
    left: 0;
    right: 0;
}
input[type="text"], input[type="password"] {
    height: 32px;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 0px;
    // border: none;
    padding: 8px 0 4px 12px;
    font-size: 16px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
