@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
#vertical {
    @include vertical-align
}

form {
    text-size: 12 pt;
}
input {
    border-radius: 6px;
    padding: 4px;
}
.formStyle {
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 9px;
    border-right: solid 4px #191C2F;
    border-bottom: solid 4px #191C2F;
}
input [type="submit"] {
    border: 1px solid #F24901;
    color: white;
    width: 20%;
    border-radius: 20px;
    text-align: center;
}
body{
    background-color: #FFFFFF;
}
.logoLogin {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    padding-top: 22px;
}
.formStyle input[type="text"], .formStyle input[type="password"] {
    border: 1px #16A085 solid; 
}

