<nav class="nav">
  <a class="nav__item" href="/">Penn Civic Service</a>
  <a class="nav__item" href="/about">About</a>
  <a class="nav__item" href="/users">Users</a>

  <!-- Add link to user's show page and log out button if logged in -->
  <% if logged_in? and current_user.id == session[:user_id]%>
    <a class="nav__item" href="/events">Opportunities</a>
   <a class="nav__item" href="/events/new">Create a Post</a>
    <a class="nav__item"> <%= link_to 'My Profile', current_user %> </a>
    <a class="nav__item"> <%= link_to 'Log out', '/logout', method: :delete, data: { confirm: 'Are you sure?' } %> </a>
  <% else %>
    <% if logged_in? %>
    <a class="nav__item"> <%= link_to 'Profile', current_user %> </a>
    <a class="nav__item">  <%= link_to 'Log out', '/logout', method: :delete, data: { confirm: 'Are you sure?' } %> </a>
    <% end %>
  <% end %>
</nav>
